<style>
.configure {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    min-height:50%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    border: 2px solid;
}

.c100 {
    width: 100%;
    padding: 15px;
    height: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;
}
.datatable{
    overflow: auto;
    height: auto;
    flex-grow: 1;
}
</style>

<div id="configure" class="configure" style="display: none1;">
<div id="tabs" class=tabs>
<ul>
    <li><a href="#tabs1" >General</a></li>
    <li><a href="#tabs2" >Contents</a></li>
    <li><a href="#tabs3" >HTML</a></li>
    <li><a href="#tabs4" >Plots</a></li>
    <li><a href="#tabs5" >Data</a></li>
</ul>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs1" >
    <label class=label1 >Title</label>
    <input class="input1" id="title"  data-toggle="tooltip"  title="Title for the panel" placeholder="Title" value="_._">
    <div >
        <label class=label1 >Parameters</label>
        <textarea class="input1 c100" style="height:80%" rows=6 id="panelparams"  placeholder="">{
title: 'Panel Title',
refresh: '10s', 
movable: 1
}</textarea> 
    </div>

</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs2" >
    <label class=label1 > URL and external link </label>
    <input class="input1" id="url"  data-toggle="tooltip" title="Extrenal URL"  placeholder="URL or Leave blank" value="">

    <label class=label1 >STL Source</label>
    <input class="input1" id="stl"  data-toggle="tooltip" title="STL File"  placeholder="STL File or Leave blank" value="/static/stlviewer/stls/hook.stl">
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="tabs3" >
        <div style="height:100%;">
        <textarea  class=c100 rows=10 id="html"  data-toggle="tooltip" title="Enter HTML"  placeholder="HTML" >
    <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAMemdG" height="100%"/>
        </textarea>
        <button  class="btn btn-primary" type="button" onclick="updateHTML()">UpdateHTML</button>
        </div>
    </div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs4" >
    <div >
        <label class=label1 >Parameters</label>
        <textarea class="input1 c100" style="height: 90%; " rows=6 id="chartparams"  data-toggle="tooltip"   placeholder="Chart parameters">{
    saveas: '',
    jcfg: '/opt/data/tseries/data/default/train.csv.cfg',
    cols: "time, A1$SYSTEM, A2$CUM",
    filter: '', 
    nrows: 1000, 
    action: 'pot|plot1|plot2|showdata',
    opts: { height: '100%', onechart: 0, clk: null, dclk: null },
    display_rows: 10
}
</textarea> 
    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs5">
    <div id="paneltabled1" style="overflow: hide;" >
        Data
    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</div>    
<div>
    <hr style="height: 5px; background: #010101;" />
    <button  class="btn btn-primary" type="button" onclick="updatePanel()">Update</button>
    <button  class="btn btn-primary" type="button" onclick="showSTL()">Update STL</button>
    <button  class="btn btn-primary" type="button" onclick="showData()">Update Data</button>
    <button  class="btn btn-primary" type="button" onclick="savePanel()">Save</button>
    <button  class="btn btn-primary"  onclick="$('#configure').toggle()">Hide</button>
</div>    

</div>

<script>
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function updatePanel() {
    ele = ACTIVE_GRID_ITEM
    if ( !ele ) {
        salert("No panel selected", "btn-warning")
        return;
    }
    act = $('#tabs').tabs('option', 'active');

    console.log('updatePanel', ele, act)
    switch (act ){
        case 0: updateGeneral(ele); break;
        case 2: updatePanelAll(ele); break;
        case 1: updateHTML(ele); break;
        case 3: updateData(ele); break;
    } 
}   
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function updatePanelAll(ele) {
    ele = (ele) ? getParentGridItem(ele) : ACTIVE_GRID_ITEM
    console.log('updatePanel', ele)

    if ( !ele ) return;

    var url = $("#url")
    var emb = $("#emb")
    var stl = $("#stl")
    var dat = $("#datasrc")

    var con = $(ele).find(".gridcard")
    if ( url.val() ) {
        var val = `<iframe src="${url.val()}" width="100%" height="100%" frameborder="0"></iframe>`
        con.html(val)
    }
    else if ( emb.val() ) {
        con.html(emb.val())
    }
    else if ( stl.val(con) ) {
        showSTL(con, stl.val())
    }
    else if ( dat.val() ) {
        showData(stl.val())
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function updateHTML(ele) {
    ele = (ele) ? getParentGridItem(ele) : ACTIVE_GRID_ITEM
    if ( !ele ) {
        salert("No panel selected", "btn-warning")
        return;
    }
    var emb = $("#html")
    var con = $(ele).find(".gridcard")
    con.html(emb.val())
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function updateGeneral(ele) {
    ele = (ele) ? getParentGridItem(ele) : ACTIVE_GRID_ITEM
    if ( !ele ) {
        salert("No panel selected", "btn-warning")
        return;
    }
    $(ele).find("#paneltitle").html( $("#title").val() )
}

// ---------------------------------------------------------------------------------
var DATA = null
DATASETS = {}

function getDatasetsCB1(responseTxt, statusTxt, xhr, ctx={}, formData={}){
    var ds   = JSON.parse(responseTxt);
    var vals = ds.values;
    DATA = ds

    console.log("getDatasetsCB1", ds)

    var panel = ctx['PANEL']
    var card = $(panel).find(".gridcard")

    if ( !panel ) {
        salert("No panel selected", "btn-warning")
        return;
    }
    var action = ctx['action'] || 'showtable'

    action = action.split("|")[0]
    switch (action) {
    case 'showtable':
        var div = $(card)[0]
        $(card).html('')

        var chartDiv = document.createElement(`div`);
        div.appendChild(chartDiv);
        chartDiv.setAttribute("id", "paneltabled1");
        chartDiv.setAttribute("class", "datatable");

        showDataTable(ds, {div: div, id: 'paneltabledd1', maxitems: 5000, fillHeight:0})
        break;
    case 'plot':
        showStockChart(ds, card, ctx)
        break;
    case 'plot1':
        showPlot1(ds, card, ctx)
        break;
    case 'plot2':
        showPlot2(ds, card, ctx)
        break;
    default:
        console.log("Unknown action", action)
        break
    }
    
}

function getDataFromDatasrc(src, cfg = {}, cb) {
    var ctx = cfg
    if (src)   ctx['jcfg'] = src

    callws('/stream/getdatacfg/',"", cb || getDatasetsCB1, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function updateData(ele) {
    console.log("updateData", ele)
    var datasrc = $('#configure').find('#datasrc').val()
    var params  = $('#configure').find('#chartparams').val()
    eval( "var jp = " + params)
    jp['PANEL'] = ACTIVE_GRID_ITEM
    getDataFromDatasrc(null, jp)
}

$(document).ready(function() {
    $('#tabs').tabs()
    $('#tabs').tabs('option', 'active' ,3);
})

</script>