<style>
.configure {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height:600px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    border: 2px solid;
}

.c100 {
    width: 100%;
    padding: 15px;
    height: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;
}
.datatable{
    overflow: auto;
    height: auto;
    flex-grow: 1;
}
</style>

<div id="configure" class="configure draggable" style="display: none1;" >
<div id="tabs" class=tabs style="height:85%;">
<ul>
    <li><a href="#tabs1" >General</a></li>
    <li><a href="#tabs2" >3D</a></li>
    <li><a href="#tabs3" >HTML</a></li>
    <li><a href="#tabs4" >Plots</a></li>
    <li><a href="#tabs5" >X</a></li>
    <li><a href="#tabs6" >Dashboards</a></li>
</ul>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs5" >
    <textarea class="input1 c100" style="height:80%;" rows=6 id="saved_dashboard"  placeholder="">
    </textarea>
    <a onclick="$('#configure').toggle()" >X</a>
    <button  class="btn btn-primary" type="button" onclick="loadDashboard($('#saved_dashboard').val())">LoadDashBoard</button>
    <div class="div1" style="display: inline-block;">
        <label class=label1 >Name to save as</label>
        <input class="input1" id="dash_saveas" placeholder="save as" value="" required>
    </div>
    <button  class="btn btn-primary" type="button" onclick="saveDashboard()">Save to Disk</button>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs6" >
    <div id="dashboards_list" style="overflow: auto;">
    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs1" >
    <label class=label1 >Title</label>
    <input class="input1" id="title"  data-toggle="tooltip"  title="Title for the panel" placeholder="Title" value="_._" readonly>
    <div >
        <label class=label1 >Parameters</label>
        <textarea class="input1 c100" style="height:70%;" rows=6 id="gridparms"  placeholder="">{
    title: 'Panel Title',
    action: 'html|3D|data|url',

    refresh: '10s', 
    movable: 1,
    stlfile: '/static/stlviewer/stls/hook.stl',

    url: '',
    html: `
    <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1dYAkF.img?w=208&h=168&q=90&m=6&f=jpg&u=t" height="100%"/>
    `,

    data: {
        saveas: '',
        jcfg: '/opt/data/tseries/data/default/a1normal.csv.cfg',
        cols: "time, ALARM.PERIOD, C01.MV",
        filter: '', 
        nrows: 1000, 
        action: 'plot1',
        opts: { height: '100%', onechart: 0, clk: null, dclk: null },
        display_rows: 10
    }    
}</textarea> 
    </div>

</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="tabs2" >
    <label class=label1 >STL Source</label>
    <input class="input1" id="stl"  data-toggle="tooltip" title="STL File"  placeholder="STL File or Leave blank" value="/static/stlviewer/stls/hook.stl">
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="tabs3" >
        <div style="height:80%;">
        <textarea  class=c100 rows=10 id="html"  data-toggle="tooltip" title="Enter HTML"  placeholder="HTML" >
    <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAMemdG" height="100%"/>
        </textarea>
        <button  class="btn btn-primary" type="button" onclick="updateHTML()">UpdateHTML</button>
        </div>
    </div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="tabs4" >
        <div >
            <label class=label1 >Parameters</label>
            <textarea class="input1 c100" style="height: 80%; " rows=6 id="chartparams"  data-toggle="tooltip"   placeholder="Chart parameters">{
    saveas: '',
    jcfg: '/opt/data/tseries/data/default/a1normal.csv.cfg',
    cols: "time, ALARM.PERIOD, C01.MV",
    filter: '', 
    nrows: 1000, 
    action: 'plot|plot1|plot2|showdata',
    opts: { height: '100%', onechart: 0, clk: null, dclk: null },
    display_rows: 10
}
        </textarea> 
        <button  class="btn btn-primary" type="button" onclick="updateData()">Update Data</button>

        </div>
    </div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</div>    
<div>
    <hr style="height: 5px; background: #010101;" />
    <button  class="btn btn-primary" type="button" onclick="setPanelContents()">Update Panel</button>
</div>    

</div>

<script>
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function saveDashboard(name, contents) {
    var ctx = { name: name || $('#dash_saveas').val(), 
                contents: contents || $('#saved_dashboard').val()}
    if (!ctx.name || !ctx.contents) {
        salert("Name: ${name} or Contents: ${contents} is empty!!", "btn-warning")
        return;
    }
    callws('/dashboard/save_dashboard/',"", loadAllDashboards, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function loadDashboardCB(responseTxt, statusTxt, xhr, ctx={}, formData={}){
    $('#saved_dashboard').val(responseTxt)
    GRID.removeAll()
    loadDashboard(responseTxt)

}
function getDashboard(name) {
    var ctx = { name: name }
    callws('/dashboard/get_dashboard/',"", loadDashboardCB, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function loadAllDashboardCB(responseTxt, statusTxt, xhr, ctx={}, formData={}){
    var ds   = JSON.parse(responseTxt);
    var vals = ds.values;
    console.log("loadAllDashboardCB", ds)
    showDataTable(ds, 
        {   div: '#dashboards_list', id: 'dashboardlist', 
            maxitems: 5000, fillHeight: 0,
            rowSelectCB: function(table, tr, indx, curSelected, vals) {
                if ( curSelected < 0) {
                    return
                }
                var name = tr.getElementsByTagName('td')[0].innerText
                getDashboard(name)
                $('#dash_saveas').val(name)
            }})
}
function loadAllDashboards() {
    callws('/dashboard/getall_dashboards/',"", loadAllDashboardCB, {})
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function deleteDashboard(name) {
    var ctx = {name: name}
    callws('/dashboard/delete_dashboard/',"", loadAllDashboardCB, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function setPanelContents(ele, cfg=null, update=1) {
    ele = ele || ACTIVE_GRID_ITEM
    if ( !ele ) {
        salert("No panel selected: Select a panel", "btn-warning")
        return;
    }
    var ncfg =  cfg || $('#gridparms').val().trim()
    $(ele).find("#config").val(ncfg)

    if ( update)
        updatePanelContents(ele)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
let ONE_STL_SHOWING = 0
function updatePanelContents(ele, jcfg=null) {
    // assert ele is valid 
    if ( jcfg == null ){
        var pcfg = $(ele).find("#config").val()
        if (!pcfg){
            salert("Configuration is empty!!", "btn-warning")
            return;
        }
        console.log(pcfg)
        eval("var jcfg = " + pcfg)
        // jcfg ==> will have the config if everything was OK
    }

    var content = $(ele).find(".gridcard")

    // #1. Set the pnale Title
    $(ele).find("#paneltitle").html( jcfg['title'] || "." )

    // #2. Set the refresh cycle
    if (jcfg['refresh']) {
        // set up refresh cycle
    }

    // #3. Set the content
    var action = jcfg['action'].split("|")[0].toLowerCase()
    switch (action){
        case "3d": 
                if (0 && ONE_STL_SHOWING) {
                    salert("Only one STL can be shown at a time", "btn-warning")
                    return
                }
                showSTL(content, jcfg['stlfile']); 
                break;
        case "html": 
                content.html(jcfg['html'])
                break;
        case "url":
            var val = `<iframe src="${jcfg['url']}" width="100%" height="100%" frameborder="0"></iframe>`
            content.html(val)
            break;
        case "data": 
                updateData(ele, jcfg['data']); 
                break;
        default:
            console.log("Unknown action", action)
            break
    } 

}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
var STLDIV=`
<p id="boundingbox" style="margin-top:0; margin-bottom:0;float: left; border: 1px solid #ccc;"></p>
    <p id="mousepos"    style="margin-top:0; margin-bottom:0; float: right;"></p>
    <div class="stlviewer" data-src="/static/stlviewer/stls/orion_nofbc.stl">
    </div>
`
function showSTL(ele, stlfile) {
    ele = (ele) ? ele : $(ACTIVE_GRID_ITEM).find(".gridcard")
    if (!stlfile) {
        var stlfile = $("#stl").val()
    }

    var name = 'stlviewer'
    console.log('showSTL', stlfile, name)

    $(ele).html(STLDIV) 
    $("."+name).attr("data-src", stlfile)

    STLViewerEnable(name, true);

    ONE_STL_SHOWING = 1

}
// ---------------------------------------------------------------------------------
var DATA = null
DATASETS = {}

function getDatasetsCB1(responseTxt, statusTxt, xhr, ctx={}, formData={}){
    var ds   = JSON.parse(responseTxt);
    var vals = ds.values;
    DATA = ds

    console.log("getDatasetsCB1", ds)

    var panel = ctx['PANEL']
    var card = $(panel).find(".gridcard")

    if ( !panel ) {
        salert("No panel selected", "btn-warning")
        return;
    }
    var action = ctx['action'] || 'showtable'

    action = action.split("|")[0]
    switch (action) {

    case 'plot':
        showStockChart(ds, card, ctx)
        break;
    case 'plot1':
        showPlot1(ds, card, ctx)
        break;
    case 'plot2':
        showPlot2(ds, card, ctx)
        break;

    case 'showdata':
    default:
        var div = $(card)[0]
        $(card).html('')

        //var chartDiv = document.createElement(`div`);
        //div.appendChild(chartDiv);
        //chartDiv.setAttribute("id", "paneltabled1");
        //chartDiv.setAttribute("class", "datatable");

        showDataTable(ds, {div: div, id: 'paneltabledd1', maxitems: 5000, fillHeight:0})
        break;
    }
    
}

function getDataFromDatasrc(src, cfg = {}, cb) {
    var ctx = cfg
    if (src)   ctx['jcfg'] = src

    callws('/stream/getdatacfg/',"", cb || getDatasetsCB1, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function updateData(ele, cfg=null) {
    console.log("updateData", ele)
    
    var params  = cfg || $('#configure').find('#chartparams').val()

    jp = cfg
    if ( typeof(params) == "string")
        eval( "var jp = " + params)
    
    jp['PANEL'] = ACTIVE_GRID_ITEM
    getDataFromDatasrc(null, jp)
}

$(document).ready(function() {
    $('#tabs').tabs()
    loadAllDashboards()
    //$('#tabs').tabs('option', 'active' ,3);
})

</script>