<!--
    This file is included in the dashboard.html file.
    It contains the javascript code for the dashboard.
    It is included in the dashboard.html file.
-->
<script>
var ALL_GRIDS  = []
var ALL_GRIDSJ = ""
var SAVED_JSON = null
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function getDashboardJSON() {
    //ALL_GRIDS=[]
    var gridItems = GRID.getGridItems()
    ALL_GRIDSJ = ""
    for (var g in gridItems) {
        var grid = gridItems[g]
        var gs = grid.gridstackNode
        var dc = $(grid).data('cfg')
        if (dc && dc.panel)
            dc.panel = null

        var grid = {
            id: gs._id,  x: gs.x, y: gs.y, w: gs.w, h: gs.h,
            config: $(grid).find("#config").val(),
            config: dc
        }
        console.log(g, grid)
        var gj = JSON.stringify(grid, null, '      ')
        //ALL_GRIDS.push(grid)
        ALL_GRIDSJ += gj  + ",\n//===================\n"
    }
    SAVED_JSON = JSON.stringify(ALL_GRIDS, null, '\t')
    SAVED_JSON = "[\n" + ALL_GRIDSJ + "]"
    return SAVED_JSON
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function saveDashboardJSON() {
    console.log("Save dashboard to disk!")
    $('#configure').show()
    var json = getDashboardJSON()
    $('#saved_dashboard').val(json)   

    $('#tabs').tabs('option', 'active' ,4);
    salert("Review and choos a name for dashboard and click save!")
}
function saveDashboard() {
    var contents = $('#saved_dashboard').val()
    var name = $('#dash_saveas').val()

    var ctx = { name: name, contents: contents }
    if (!ctx.name || !ctx.contents) {
        salert("Name: ${name} or Contents: ${contents} is empty!!", "btn-warning")
        return;
    }
    callws('/dashboard/save_dashboard/',"", loadAllDashboards, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
GRID_TEMPLATE=`
<div class="gridcard-header" onclick="toggleSelectPanel(this)"> 
    <span id=paneltitle class="gridcard-headertitle">Title</span>
    <span style="float: right; font-size:1.em;"> 
        <a href="#" style="color: #666; text-decoration: none;" onclick="updatePanelContents(getParentGridItem(this))">
            <i class="fa fa-sync fa-xs" aria-hidden="true" ></i>
        </a> &nbsp;&nbsp;
        <a href="#" style="color: #666; text-decoration: none;" onclick="removeWidget(this)">
            <i class="fa fa-times fa-xs" aria-hidden="true" ></i>
        </a> &nbsp;&nbsp;

        <div class="dropdown" style="display: inline;">
            <a href="#" style="color: #555; text-decoration: none;" data-toggle="dropdown">&nbsp;
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" >
                <a class="dropdown-item" onclick='removeWidget(this)' >&times; Remove</a>
                <a class="dropdown-item" onclick="updatePanelContents(getParentGridItem(this))">Refresh</a>
                <a class="dropdown-item" onclick="toggleconfig(this)">toggle Config</a>
            </div>
        </div>
    </span>
</div>
<textarea id=config cols=10 rows=5 style="display:none;"></textarea>

<div class="gridcard" >
    <!-- iframe width="90%" height="90%" src="https://www.youtube.com/embed/DuSDVj9a4WM" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe -->
    -- STUFF -- 
</div>
`
var last=1
//function addWidget(title=last, content=" ", x=(last++%2)*6, y=last%3, w=5, h=3) {
function addWidget(title=last++, content=" ", x=0, y=0, w=5, h=5) {
    var html = GRID_TEMPLATE; 
    html=html.replace('Title', title || " "); 
    
    if  (content)
        html=html.replace('CONTENTS', content);
    else
        html=html.replace('CONTENTS', frames[last%frames.length]);
    
    var g = GRID.addWidget( {x:x, y:y, w:w, h:h, auto_position: true, content: html} ) 

    toggleSelectPanel(g)
    return g

}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function loadDashboard(json=SAVED_JSON) {
    //console.log("loadDashboard");
    var gridItems
    GRID.removeAll()
    eval( "gridItems=" + json )

    for (var g in gridItems) {
        var grid = gridItems[g]
        var panel= addWidget("", "", grid.x, grid.y, grid.w, grid.h)
        $(panel).find("#config").val(JSON.stringify(grid.config, null, "  "))
        //$(panel).find("#config").val(grid.config)
        updatePanelContents(panel)
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function loadDashboardCB(responseTxt, statusTxt, xhr, ctx={}, formData={}){
    $('#saved_dashboard').val(responseTxt)
    GRID.removeAll()
    loadDashboard(responseTxt)
    if ( ctx.hide && GRID.getGridItems().length > 0) {
        //setTimeout(toggleConfigureWindow, "$('#configure').hide()")
        toggleSelectPanel(GRID.getGridItems()[0] )  // not sure why I have to call it twice
        toggleSelectPanel(GRID.getGridItems()[0] )  // calling once wont work
        
    }
}
function getDashboard(name, hideConfigureWindow=0) {
    var ctx = { name: name, hide: hideConfigureWindow }
    callws('/dashboard/get_dashboard/',"", loadDashboardCB, ctx)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function loadAllDashboardCB(responseTxt, statusTxt, xhr, ctx={}, formData={}){
    var ds   = JSON.parse(responseTxt);
    var vals = ds.values;
    //console.log("loadAllDashboardCB", ds)
    showDataTable(ds, 
        {   div: '#dashboards_list', id: 'dashboardlist', 
            maxitems: 5000, fillHeight: 0,
            tableclass: "none",
            rowSelectCB: function(table, tr, indx, curSelected, vals) {
                if ( curSelected < 0) {
                    return
                }
                var name = tr.getElementsByTagName('td')[0].innerText
                getDashboard(name)
                $('#dash_saveas').val(name)
            }})

    $('#tabs').tabs( "option", "heightStyle", "fill" )
}
function loadAllDashboards() {
    callws('/dashboard/getall_dashboards/',"", loadAllDashboardCB, {})
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function deleteDashboard(name) {
    var ctx = {name: name}
    callws('/dashboard/delete_dashboard/',"", loadAllDashboardCB, ctx)
}

</script>