<script src="/static/bc/highcharts/highstock.js"></script>
<script src="/static/node_modules/gridstack/dist/gridstack-all.js"></script>
<link href="/static/node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet"/>

<style type="text/css">
.pagecontent {
    height: 100%;
}
.grid-stack {
    padding: 7 0 10 10;height: 100%;
    display: flex; flex-flow: column; 
    /*height: calc(100vh - 80px)*/
 }
.grid-stack-item-content { 
    border-radius: 2px;
    box-shadow: 4px 4px 4px #aaaaaa;
    display: flex; 
    flex-flow: column; 
    inset: 2px !important;
    background-color: #fff;
}

.grid-stack-item-content { 
    padding: 0;
}

.grid-stack-item-selected {
    border: 2px solid;
}

.gridcard-header {
    cursor: move;
    width: 100%;
    padding: 1 10 1 10;
}
.gridcard-header:hover {
    background-color: rgba(0,0,0,.09);
}
.gridcard-headertitle {
    font-size: medium; 
    font-weight: bold;
}

.gridcard {
    text-align: left;
    padding: 0 2 0 2;
    flex-grow: 1; 
    width: 100%;
    overflow: auto;
}

.stlviewer {
    width: 100%;
    height: 88%;
}

.gridcard0 {
    text-align: left;
}

.dropdown-menu {
    font-size: small;
} 

.btn100{
    width: 100%;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}
</style>
{% include "dash/panel_js.html" %}
{% include "dash/dashboard_js.html" %}
{% include "dash/gridstack.html" %}

<section id="content" style="padding: 0 0 0 0;height: 93vh; overflow: auto;" >
<div class="grid-stack">
    <!--

    <div class="grid-stack-item" gs-w="6" gs-h="5">
        <div class="grid-stack-item-content">
            <div class="gridcard-header" onclick="toggleSelectPanel(this)"> 
                <span id=paneltitle class="gridcard-headertitle">Title</span>
                <span style="float: right;"> 
                <div class="dropdown">
                    <a href="#" style="color: #000000; text-decoration: none;" data-toggle="dropdown"> 
                        ...
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" onclick='removeWidget(this)' >Remove</a>
                        <a class="dropdown-item" href="#">Refresh</a>
                        <a class="dropdown-item" href="#">Save</a>
                    </div>
                </div>
            </div>
            <textarea id=config cols=10 rows=5 hidden></textarea>
            <div class="gridcard"></div>
        </div>

    </div>
    -->
</div>
</section>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<script>
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
var grid_options = {
    wwidth: 10,
    hheight: 34,
    cellHeight: '70px',
    cellWidth: '20px',
    verticalMargin: 2,
    horizontalMargin: 0.0,
    left: 0,
    resizable: {
      handles: 'e, se, s, ssw, w'
    },
    handle: '.gridcard-header'
};
var GRID = GridStack.init(grid_options);
var ACTIVE_GRID_ITEM = null

if (!grid_options.handle){
    GRID.enableMove(false, true);
    console.log('ENABLE_MOVE')
}
document.onmousedown = function (e) {
    if ( GRID === undefined)    return;
    if (! grid_options.handle){
        (e.altKey) ? GRID.enableMove(true, true) : GRID.enableMove(false, true);
        console.log('grid_options.handle', e.altKey )
    }
};
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
GRID_TEMPLATE=`
<div class="gridcard-header" onclick="toggleSelectPanel(this)"> 
    <span id=paneltitle class="gridcard-headertitle">Title</span>
    <span style="float: right;"> 
        <div class="dropdown">
            <a href="#" style="color: #000000; text-decoration: none;" data-toggle="dropdown"> 
                ...
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="top: -5px;" >
                <a class="dropdown-item" onclick='removeWidget(this)' >Remove</a>
                <a class="dropdown-item" onclick="updatePanelContents(getParentGridItem(this))">Refresh</a>
                <a class="dropdown-item" onclick="toggleconfig(this)">toggle Config</a>
            </div>
        </div>
    </span>
</div>
<textarea id=config cols=10 rows=5 style="display:none;"></textarea>

<div class="gridcard" >
    <!-- iframe width="90%" height="90%" src="https://www.youtube.com/embed/DuSDVj9a4WM" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe -->
    CONTENTS 
</div>
`
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function toggleconfig(ele) {
    console.log(ele)
    var pele = getParentGridItem(ele)
    $(pele).find('#config').toggle('fade')
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function toggleSelectPanel(ele) {
    if (ACTIVE_GRID_ITEM)
        ACTIVE_GRID_ITEM.classList.remove('grid-stack-item-selected')

    if ( !ele )
        ACTIVE_GRID_ITEM = GRID.getGridItems().pop()
    else {
        ele = getParentGridItem(ele)
        if ( ele == ACTIVE_GRID_ITEM)
            ACTIVE_GRID_ITEM = null
        else
            ACTIVE_GRID_ITEM = ele
    }
    if ( ACTIVE_GRID_ITEM) {
        ACTIVE_GRID_ITEM.classList.add('grid-stack-item-selected')
        var titv = $(ACTIVE_GRID_ITEM).find("#paneltitle")
        //$('#configure').find('#title').val(titv.html())
        parms = $(ACTIVE_GRID_ITEM).find("#config").val()
        if (parms && parms.trim())   
            $('#gridparms').val(parms.trim())
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function getParentGridItem(ele, depth=25) {
    i = 0
    while (i++ < depth && !ele.classList.contains('grid-stack-item') ) {
        ele = ele.parentNode
    }

    if(ele.classList.contains('grid-stack-item'))
        return ele
    console.log('Could not find grid-stack-item')
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function removeWidget(ele) {
    ele = getParentGridItem(ele)
    if ( ele ) {
        GRID.removeWidget(ele)
        if ( typeof(removeTimer) !== 'undefined' )
            removeTimer(ele)
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
var items = [
    {h: 4, w:7, content: '<button onClick="GRID.removeWidget(this.parentNode.parentNode)">X</button><br>'},
    {h: 3, w:2, content: 'another longer widget!'} // will be placed next at (1,0) and 2x1
];

frames=[ 
    'TEST content1',
    'TEST content2'
]
//GRID.load(items);

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
window.onload=function() {
} 

$(document).ready(function() {
})
</script>