{% extends "common0.html" %}
{% block content %}
<style>
.p5js {
    height: 100% !important;
    width: 100%;
    background-color: black;

}
</style>
<script src="/static/p5/p5.js"></script>
<script src="/static/p5/addons/p5.easycam.js"></script>

<div id="p5js" class="p5js" ></div>

<script>
$(document).ready(function () {
})

function windowResized() {
    resizeCanvas(windowWidth, windowHeight);
    easycam.setViewport([0, 0, windowWidth, windowHeight]);
    background(32);
}

var easycam;

let TEST_IMAGE
let EARTH_IMAGE= null
let orion_MODEL= null
let font 
function preload() {
    TEST_IMAGE = loadImage('/static/texture/sat_orion.jpg');
    EARTH_IMAGE= loadImage('/static/texture/earth.jpg');
    orion_MODEL= loadModel('/static/texture/juno.stl', true);
    font = loadFont("/static/texture/font1.ttf");

}

function setup() {
    var div = $('#p5js')
    var canvas = createCanvas(div.innerWidth(), div.innerHeight(), WEBGL);
    canvas.parent(div[0])
    canvas.elt.oncontextmenu = () => false;

    textFont(font)
    setAttributes('antialias', true);

    easycam = createEasyCam({ distance: 300 });
    document.oncontextmenu = function () { return false; }
    document.onmousedown   = function () { return false; }
    document.mousePressed  = function () { return false; }
}


function draw() {
    background(32);

    textSize(5)
    text("X: (30,0,0)", 30,0,0);
    text("X: (-60,0,0)", -60,0,0);

    text("Y: (0,30,0)", 0,30,0);
    text("Y: (0,-60,0)", 0,-60,0);

    text("Z: (0,0,30)",  0,0,30);
    text("Z: (0,0,-30)", 0,0,-30);


    strokeWeight(1);
    stroke("red");
    fill("yellow")
    circle(0,0,20)

    strokeWeight(0.5);
    stroke("red");
    var l = 100
    line(-l,0,0,l,0,0)
    stroke("green");
    line(0,-l,0,0,l,0)
    stroke("blue");
    line(0,0,-l,0,0,l)



    push() 
    {
        drawSat( v)
    }
    pop()

    //noLoop()
}

// Translate Examples :
var v = p5.Vector.random3D();
v.x = 50; v.y = 50; v.z = -50; v.angle = 0.01

function drawSat(v) {
    var x = 10
    let v2 = createVector(1, 0, 0);
    let p = v.cross(v2);
    if (p.x != 0 || p.y != 0 || p.z != 0) {
        rotate(v.angle, p);
        v.angle += 0.01
        //console.log(v.angle)
    }
    translate(v.x, v.y, v.z);
    box(x, 2*x, 3*x, 0, 0, 0)
    /*
    push()
        stroke("white")
        translate(-x, -x, -x);
        box(x/2, x*2/2, x*3/2 )
    pop()
    push()
        translate(x, x, x);
        box(x/2, x*2/2, x*3/2 )
    pop()
    */
}

</script>

{% endblock %}