{% extends "common0.html" %}
{% block content %}
<style>
.pagecontent{  width: 100%;  padding: 0px;  overflow: auto; }
.p5js  {  height: 100%; width: 100%; background-color: black; padding: 0; margin: 0;}
</style>
<script src="/static/p5/p5.js"></script>
<script src="/static/p5/addons/p5.easycam.js"></script>
<div id="p5js" class="p5js"></div>
<script>
$(document).ready(function () {})
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function setup() {
    var div = $('#p5js')
    var canvas = createCanvas(div.innerWidth(), div.innerHeight(), WEBGL);
    canvas.parent(div[0])
    canvas.elt.oncontextmenu = () => false;

    setAttributes('antialias', true);

    easycam = createEasyCam({ distance: 300 });
    document.oncontextmenu = function () { return false; }
    document.onmousedown   = function () { return false; }
    document.mousePressed  = function () { return false; }

    EARTH = new Planet(30, 0.000, 0.001, textures[0]);
    EARTH.spawnMoons(4, 4);
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function windowResized() {
    resizeCanvas(windowWidth, windowHeight);
    easycam.setViewport([0, 0, windowWidth, windowHeight]);
    background(32);
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
let counter = 0
function draw() {
    background(0);
    ambientLight(255, 255, 255);
    pointLight(255, 255, 255, 0, 0, 0);
    EARTH.show();
    EARTH.orbit();
}
const textures = [];
const models   = [];
function preload() {
    textures[0] = loadImage('/static/texture/earth.jpg');
    textures[1] = loadImage('/static/texture/sat1.jpg');
    textures[2] = loadImage('/static/texture/sat_orion.jpg');

    models[0]   = loadModel('/static/texture/juno.stl', true);
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

class Planet {
    constructor(r, d, o, img, dtype="globe|image", randomAngle=0) {
        this.v = p5.Vector.random3D();

        this.radius = r;
        this.distance = d;
        this.v.mult(this.distance);
        this.angle      = (randomAngle)? random(TWO_PI) : 0;
        this.orbitspeed = o;

        this.planets    = null;
        this.texture    = img;
        this.dtype      = dtype
    }

    orbit() {
        this.angle = this.angle + this.orbitspeed;
        if (this.planets != null) {
            for (let i = 0; i < this.planets.length; i++) {
                this.planets[i].orbit();
            }
        }
    }

    spawnMoons(total, level) {
        this.planets = [];
        for (let i = 0; i < total; i++) {
            let r = this.radius / (level * 2);
            let d = random( (this.radius + r)*2, (this.radius + r) * 3);
            let o = random(0.0001, 0.001); // make it -0.1 to 0.1
            let index = i % textures.length;
            this.planets[i] = new Planet(r, d, o, textures[index], "i");
            if (level < 2) {
                let num = int(random(0, 3));
                this.planets[i].spawnMoons(num, level + 1);
            }
        }
    }


    show() {
        push();
        noStroke();
        let v2 = createVector(1, 0, 1);
        let p = this.v.cross(v2);
        // Rotation around a 0-length axis doesn't work in p5.js, so don't do that.
        if (p.x != 0 || p.y != 0 || p.z != 0) {
            rotate(this.angle, p);
        }
        if ( frameCount %120 >= 0 && frameCount %180 <= 0){
            stroke("red");
            strokeWeight(0.5);
            line(0, 0, 0, this.v.x, this.v.y, this.v.z);
            //line(0, 0, 0, p.x, p.y, p.z);
        }

        var tt = translate(this.v.x, this.v.y, this.v.z);
        noStroke();
        if (this.dtype.startsWith("g")) {
            fill(255);
            texture(this.texture);
            sphere(this.radius);
        } else {
            texture(this.texture);
            //fill(random(128, 238));
            scale(0.07 )
            model(models[0]);
        }
        if (this.planets != null) {
            for (let i = 0; i < this.planets.length; i++) {
                this.planets[i].show();
            }
        }
        pop();
    }
}
let P1
</script>

{% endblock %}