{% include "dash/p5js.html" %}
<script>
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This file is included in the index.html file.
    It contains the javascript code for the panel.
*/
function _getAllDataNames(jcfg) {
    var ret = []
    if (!jcfg.data) 
        return ret

    for (var d in jcfg.data){
        var dcon = jcfg.data[d]
        var name = (typeof(dcon) == 'string') ? dcon: (dcon.name || dcon.data_src )
        ret.push(name)
    }
    return ret
}
function _checkDataReady(jcfg) {
    var dnames = _getAllDataNames(jcfg)
    for (var d in dnames){
        var  name = dnames[d]
        if ( !DATA_CACHE[name])
            return false
    }
    return true
}

function refreshPanelContents(ele, first_time=1) {
    jcfg = $(ele).data('cfg')
    if ( !jcfg) {
        salert("No configuration!!! ", 'btn-warning')
        return 
    }
    // #1. Set the panel Title
    $(ele).find("#paneltitle").html( jcfg['title'] || "&nbsp;" )
    var content = $(ele).find(".gridcard")

    //# 2. CLEAN the content if it is first time
    if ( first_time) {
        // :Lets clean the panel - first time
        if ( $(content).highcharts && $(content).highcharts() ) {
            console.log("Destroying CHARTS ...", first_time, jcfg['title'])
            $(content).highcharts().destroy()     
        }   
    } 

    
    // CHECK if we have all the reasources ready - otherwise some will call us back
    var data_config_names = _getAllDataNames(jcfg)
    if ( !_checkDataReady(jcfg)) {
        console.log("Waiting for resources ...", first_time, jcfg['title'])
        $(content).html("Waiting for resources: " + data_config_names)
        return
    }

    var action = jcfg['action'] || ""
    action = action.split("|")[0].toLowerCase()
    switch (action){
        case "3d": 
                showSTL(ele, first_time); 
                break;
        case "html": 
                let html
                eval("html=`" + jcfg['html'] +"`") 
                content.html(html)
                if (jcfg['refresh_func']) {
                    jcfg['refresh_func'](ele)
                }
                break;
        case "url":
            var val = `<iframe src="${jcfg['url']}" width="100%" height="100%" frameborder="0"></iframe>`
            content.html(val)
            break;
        case "chart": 
                charts(jcfg, ele, first_time)
                break;
        case "p5js": 
                p5jsDisplay(jcfg, ele, first_time)
                break;
        case 'showdata':
            $(content).html('')
            for (var n in data_config_names) {
                var nm = data_config_names[n]
                showDataTable(  DATA_CACHE[nm].data, 
                                {   div: $(content)[0], 
                                    id: 'paneltabledd_' + n, 
                                    maxitems: 5000, 
                                    fillHeight:0,
                                    tableclass: "none"
                                })
            }
            break;
            
        default:
            console.log("Unknown action", action)
            break

    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
const STLDIV=`
<p id="bb" style="font-size: x-small;margin-top:0; margin-bottom:0;float: left; "></p>
<p id="mouse" style="font-size: x-small; margin-top:0; margin-bottom:0; float: right; ">MOUSE</p>
<div class="stlviewer" data-src="/static/stlviewer/stls/orion_nofbc.stl"></div>
`
var stlv
function showSTL(ele, firsttime=0) {
    var jcfg = $(ele).data('cfg')
    var gridcard = $(ele).find(".gridcard")
    $(gridcard).html(STLDIV) 

    let v = $(gridcard).find(".stlviewer")
    if ( firsttime)
        stlv =  new STLViewer(v, jcfg.stlfile );

    /*
    for (var s in jcfg.stls){
        s = jcfg.stls[s]
        let v = $(gridcard).find(".stlviewer")
        stlv =  new STLViewer(v, s.stlfile );
        jcfg.stlv = stlv;
        break;
    }
    */
}
</script>