<!--
    This file is included in the index.html file.
    It contains the javascript code for the panel.
-->
<script>
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function refreshPanelContents(ele, first_time=0) {
    jcfg = $(ele).data('cfg')
    if ( !jcfg) {
        salert("No configuration!!! ", 'btn-warning')
        return 
    }
    // #1. Set the panel Title
    $(ele).find("#paneltitle").html( jcfg['title'] || "." )
    var action = jcfg['action'] || ""
    action = action.split("|")[0].toLowerCase()
    
    var content = $(ele).find(".gridcard")
    //console.log("Refresh action", action)

    switch (action){
        case "3d": 
                showSTL(ele, first_time); 
                break;
        case "html": 
                let html
                eval("html=`" + jcfg['html'] +"`") 
                content.html(html)
                if (jcfg['refresh_func']) {
                    jcfg['refresh_func'](ele)
                }
                break;
        case "url":
            var val = `<iframe src="${jcfg['url']}" width="100%" height="100%" frameborder="0"></iframe>`
            content.html(val)
            break;
        case "chart": 
                // Dont do anything first time, wait for data
                // broadcast will you
                if (!first_time) {
                    if ( $(content).highcharts && $(content).highcharts() ) {
                        console.log("Update the new points ...")
                        updateData2(ele); 
                    } else {
                        updateData1(ele, first_time); 
                    }
                } else {
                    if ( $(content).highcharts && $(content).highcharts() ) {
                        $(content).highcharts().destroy()
                        console.log("First time, secondtime?Highcharts must be deleted!! ...")
                        $(content).html("Waiting for data!") 
                    }
                }
                break;
        default:
            console.log("Unknown action", action)
            break
    }
}
function updateData1(ele){
    var jcfg = $(ele).data('cfg')
    var content = $(ele).find(".gridcard")
    $(content).html("Waiting for Data")     
    charts(jcfg, ele)
}

function updateData2(ele){
    console.log("Update the new points updateData2() ...")
    var jcfg = $(ele).data('cfg')
    var content = $(ele).find(".gridcard")
    var hc = $(content).highcharts()

    var ctx  = jcfg.data[0]
    var name = (typeof(ctx) == 'string') ? ctx: (ctx.name || ctx.data_src )
    var dscfg = DATA_CACHE[name]
    var ds = dscfg.data

    for (var s=0; s < hc.series.length; s++ ) {
        var sr = hc.series[s]
        var nd = _getDataToPlot(ds, s+1)
        //sr.setData(nd)
        sr.addPoint(nd[nd.length-1], true, true)
    }

}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
const STLDIV=`
<p id="bb" style="font-size: x-small;margin-top:0; margin-bottom:0;float: left; "></p>
<p id="mouse" style="font-size: x-small; margin-top:0; margin-bottom:0; float: right; ">MOUSE</p>
<div class="stlviewer" data-src="/static/stlviewer/stls/orion_nofbc.stl"></div>
`
var stlv
function showSTL(ele, firsttime=0) {
    var jcfg = $(ele).data('cfg')
    var gridcard = $(ele).find(".gridcard")
    $(gridcard).html(STLDIV) 

    let v = $(gridcard).find(".stlviewer")
    if ( firsttime)
        stlv =  new STLViewer(v, jcfg.stlfile );

    /*
    for (var s in jcfg.stls){
        s = jcfg.stls[s]
        let v = $(gridcard).find(".stlviewer")
        stlv =  new STLViewer(v, s.stlfile );
        jcfg.stlv = stlv;
        break;
    }
    */
}
</script>