

<script src="/static/bc/highcharts/modules/exporting.js"></script>
<script src="/static/bc/highcharts/modules/export-data.js"></script>
<script src="/static/bc/highcharts/modules/parallel-coordinates.js"></script>
<script src="/static/bc/highcharts/modules/accessibility.js"></script>
<script src="/static/bc/highcharts/modules/data.js"></script>
<script src="/static/bc/highcharts/modules/drilldown.js"></script>

{% include "multicharts2.html" %}
{% include "dash/plot_map.html" %}

<script>
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function _parallelAxisChart( ds, ctx={}, panel="#chart2", first_time=1){
    var data = [
            [1012518000000, 5, 2311020, 0, 462180.00, 1, 0],
            [1012690800000, 5, 2464980, 0, 493020.06, 1, 0],
            [1012863600000, 4, 1881000, 1, 470280.06, 1, 0],
            [1014505200000, 4, 1863000, 2, 465780.90, 0, 0],
            [1014678000000, 1, 2758020, 3, 459659.99, 1, 1],
            [1214764400000, 3, 2808000, 0, 468000.98, 0, 0]
        ]
    var yAxis= [
            {  type: 'datetime',   labels: { format: '{value:%Y-%m-%d}' } }, 
            {  min: 0,    tooltipValueFormat: '{value} mile(s)' }, 
            {  type: 'datetime',   min: 0, labels: { format: '{value:%H:%M}' }},
            {  categories: [ 'Other', 'Adidas', 'Mizuno', 'Asics', 'Brooks', 'New Balance', 'Izumi' ]}, 
            {  type: 'datetime' }, 
            {  categories: ['> 5miles', '< 5miles'] }, 
            {  categories: ['Before', 'After']      }
        ]
    var xAxis =  {
            categories: [ 'Training data', '#Nodes', 'lr', 'opt', 'epochs', '#Layers', 'Accuracy'],
            offset: 10
    }
    // parse the data to match above :)
    var copts = _getChart({type: 'spline', title: ctx.title, data: data})
    copts.yAxis = yAxis
    copts.xAxis = xAxis
    copts.legend = false;
    copts.series= data.map( function (set, i) { return {  name: ''+i, data: set };})
    copts.chart.parallelCoordinates = true
    var chart = Highcharts.chart($(panel)[0], copts);
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// This will return array with date/time, value ex: [ [12-02-02T01:01:01, 3.567], [...], ...]
function _pieChart( ds, ctx={}, panel="#chart2", first_time=1){
    data =  [{
            name: 'Percentage', colorByPoint: true,
            data: [   
                { name: 'Water',   y: 55.02  },
                { name: 'Fat',  sliced: true, selected: true, y: 26.71 },
                { name: 'Carbohydrates', y: 1.09  },
                { name: 'Protein', y: 15.5 },
                { name: 'Ash', y: 1.68 }
            ]
    }]
    // parse the data to match above :)
    copts = _getChart({type: 'pie', title: ctx.title || 'pie', data: data})
    var chart = Highcharts.chart($(panel)[0], copts);
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// This will return array with date/time, value ex: [ [12-02-02T01:01:01, 3.567], [...], ...]
function getRandomData(n=10, data1=[]) {
    for (var i=0; n > data1.length; i++) {
        data1.push({name: ""+ new Date().getTime()+i, y: Math.round(Math.random() *10)})
    }
    return data1    
}
var BARDATA= null
function _barChart( ds, ctx={}, panel="#chart2", first_time=1){
    var data1 = getRandomData(30)

    if ( !BARDATA) {
        BARDATA = data1
    } else{
        var n = BARDATA.pop()
        BARDATA = getRandomData(BARDATA.length+1, BARDATA)
        data1 = BARDATA
    }
    
    var hc = $(panel).highcharts()

    if ( !first_time && hc ) {
        //console.log("------ UPDATING BAR -----")
        hc.series[0].addPoint(data1[data1.length-1], true, true)
        return
    }

    copts = {
        title:      {  text:  '', align: 'left'},
        chart:      {  type: 'column'},
        credits:    {  enabled: false       },
        xAxis:      {  type: 'category', labels: {enabled: false}},
        yAxis:      {  title: {text: 'category'} },
        legend:     {  enabled: false },
        plotOptions:{ 
                        column: {
                                borderRadius: 0,
                                groupPadding: 0,
                                pointPadding: 0,
                                color: '#3366CC',
                        },
                    },
        series: [{
                    name: 'Random ',
                    data: data1,
                    dataLabels: {  enabled: true,    },
                    tooltip: {  pointFormat: 'Y: {point.y}/h</b><br> <b>€ z: {point.z} million</b><br>'    },
                    borderRadius: 3,
                    colorByPoint: false,
                }
            ],
    }
    //console.log(copts)
    var chart = Highcharts.chart($(panel)[0], copts);
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function _getDataToPlot(ds, column_index=1){
    var dsv = ds.values
    var time_index = Math.max(0, ds.columns.indexOf('time'))
    ret = []
    for(u of dsv ) {
        var t = u[time_index]
        var tt = !isNaN(t) ? t : new Date(t).getTime() 
        ret.push([tt, u[column_index]])
    }
    if ( ret[0][0] > ret[ret.length-1][0] ) {
        r1 = ret.sort((a,b) => a[0] - b[0])

    }
    return ret
}
function addDiv(d, name) {
    var newDiv = document.createElement(`div`);
    newDiv.className = 'chart';
    newDiv.setAttribute("id", name || (e.id + "_" + id));
    //newDiv.setAttribute("style", `height:${height};`);
    d.appendChild(newDiv);
    return newDiv
}
function _lineChart( ds, ctx={}, panel="#chart3", first_time=1 ){
    var data =  [
            {   name: 'Series1', type: '',  lineWidth: 0.5, type: (ctx.stockChart) ? 'area': "",
                data: [ [1262304000000, 0.7537 ], [1262563200000, 0.6951 ], [1262649600000, 0.6925],
        	            [1262736000000, 0.697  ], [1262822400000, 0.6992 ], [1262908800000, 0.7007],
                    ]
            },
            {   name: 'Series2', type: '',  lineWidth: 0.5,
                data: [ [1262304000000, 0.6537 ], [1262563200000, 0.6951 ], [1262649600000, 0.6925],
        	            [1262736000000, 0.897  ], [1262822400000, 0.6992 ], [1262908800000, 0.7007],
                    ]
            }
        ]

    var opts =  ctx.chart_opts || {}
    var cols = (opts.columns) ? (("time," + opts.columns).split(/\s+|,/)) : ds.columns


    var hc = $(panel).highcharts()
    if ( !first_time && hc ) {
        //console.log("------ UPDATING LINE CHART -----")
        for (var s=0; s < hc.series.length; s++ ) {
            var sr = hc.series[s]

            var idx = ds.columns.indexOf(cols[s+1])
            if ( idx < 0 ) {
                console.log( col, " <=== INDEX NOT FOUND in DATA!!")
                continue
            }
            var nd = _getDataToPlot(ds, idx)
            //sr.setData(nd)
            sr.addPoint(nd[nd.length-1], true, true)
        }
        return
    }

    data = []
    var ty = (ctx.stockChart) ? 'area': ""
    
    for (var i=1; i < cols.length; i++) {
        var col = cols[i]
        var idx = ds.columns.indexOf(col)
        if ( idx < 0 ) {
            console.log( col, " <=== INDEX NOT FOUND in DATA!!")
            continue
        }
        
        ch1 = { name: col, data:  _getDataToPlot(ds,idx) , type: ty}
        data.push(ch1)
    }
    
    var legd =  {enabled: data.length > 1}
    var chart= null
    if ( !opts.multiCharts) {
        
        var copts = _getChart({type: 'spline', title:opts.title, data: data, legend: legd})

        chart = (!opts.stockChart) ? 
                Highcharts.chart($(panel)[0], copts) :
                Highcharts.stockChart($(panel)[0], copts);
    }
    else {
        var p = $(panel)[0];
        var pn = 0
        for (var d in data) {
            var nname = "#" + pn.id +"_" + pn++
            var ndiv = addDiv(p, nname)
            var copts = _getChart({type: 'spline', title: opts.title, data: [data[d]], legend:0})
            chart = Highcharts.chart(ndiv, copts)
        }
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// This will return array with date/time, value ex: [ [12-02-02T01:01:01, 3.567], [...], ...]
function _mapChartHC( ds, ctx={}, panel="#chart2", first_time=1){

    var mapOpts =  {
        credits:       {  enabled: false       },
        chart:         {  margin: 0  },
        title:         {  text: ''   },
        navigation:    {  buttonOptions: { align: 'left', theme: { stroke: '#e6e6e6' }} },
        mapNavigation: {  enabled: true, buttonOptions: { alignTo: 'spacingBox'  }},
        mapView:       {  center: [10.73028454146517, 59.91261204279989],   zoom: 16    },

        tooltip: {  pointFormat: '{point.name}'   },
        legend: {
            enabled: true,    title: { text: '' }, float: true,
            align: 'left',
            symbolWidth: 20,  symbolHeight: 20,
            itemStyle: { textOutline: '1 1 1px rgba(255,255,255)'     },
            backgroundColor: 'rgba(255,255,255,0.6)',
            borderColor: '#e6e6e6',
            itemMarginBottom: 0
        },

        plotOptions: { mappoint: {dataLabels: {   enabled: false  }  },   enableMouseTracking: true,    },

        series: [
                    {   type: 'tiledwebmap', showInLegend: false,  name: 'Basemap Tiles',
                        provider: {  type: 'OpenStreetMap'  }, 
                    },

                    {   type: 'mappoint',  name: 'car1',  
                        marker: { width: 24,  height: 24  },
                        data: [
                            { name: 'l1', lon: 10.69299,  lat: 59.90199  }, 
                            { name: 'l1', lon: 10.69299,  lat: 59.90199  }, 
                        ]
                    }, 
                    {   type: 'mappoint', name: 'car2',
                        marker: { width: 24, height: 24    },
                        data: [ 
                            { name: 'yoga', lon: 10.70514, lat: 59.92448 }, 
                            { name: 'gym' , lon: 10.70347, lat: 59.92645 }, 
                        ]
                    }
                ]
    }

    //console.log(" MAP MAP _-----")
    var myConfig = {
        mapView: {  center: [-104.937696, 39.519818 ],   zoom: 16    },
        events: {
            mousemove: (e) => {consoel.log(e)}
        }
    }
    const mapOptsNew = { ...mapOpts,   ...myConfig  }

    var mydata1 = [
            { name: "0", lat: 39.5198305, lon: -104.9375456  }, 
            { name: "1", lat: 39.5184029, lon: -104.9396456  }, 
            { name: "2", lat: 39.5175753, lon: -104.9397922  }, 
    ]

    //39.5198305,-104.9375456/39.5175753,-104.9397922/@39.5184029,-104.9399056,17.72

    var nd = mydata1[0]
    for (var i=3; i < 3; i++) {
        //nd.name = "_" + i
        //nd.lat = nd.lat - 0.000019
        nd.lon = nd.lon + 0.0001
        mydata1.push( structuredClone(nd))
    }

    mapOptsNew.series[1].data = mydata1

    MAPCHART = Highcharts.mapChart( $(panel)[0], mapOptsNew)
}
var MAPCHART
var STOPUPDATE=20
var POINT1 =   { name: "0", lat: 39.5198305, lon: -104.9375456  }
var POINT2 =   { name: "0", lat: 39.5175753, lon: -104.9397922  }
var POINT1  =  { name: "0", lat: 39.5198305, lon: -104.9375456  }
function randUpdate(up=500) {
    if ( !MAPCHART)
        return

    POINT1.lat -= 0.0001
    POINT1.lon += ( POINT2.lon - POINT1.lon )/ 20

    console.log(`UPDATING ${POINT1} ${up}`)
    MAPCHART.series[1].data[0].update(POINT1)

    if (STOPUPDATE) {
        setTimeout(randUpdate, up)
        STOPUPDATE--
    }
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function showPlot3(ds, panel, ctx, first_time=0) {
    var opts = ctx.chart_opts || {};
    ctx.chart_opts = opts 
    var ctype= (opts.type) ? opts.type.split()[0] : "line"

    switch (ctype) {
        case 'parallel':    
                _parallelAxisChart(ds, ctx, panel, first_time)
                break;
        case 'pie':  
                _pieChart(ds, ctx, panel, first_time)
                break;
        case 'bar':  
                _barChart(ds, ctx, panel,first_time)
                break;
        case 'map':  
                _mapChart(ds, ctx, panel,first_time)
                break;
        case 'maphc':  
                _mapChartHC(ds, ctx, panel,first_time)
                break;
        default:
                _lineChart(ds, ctx, panel, first_time)
                break
    }
}

</script>
