<div  id="chartcontainer" style="background-color: snow;"> </div>
{% include "multicharts.html" %}
{% include "multicharts1.html" %}
{% include "dash/plots1_new.html" %}
<!-- -----------------------------------------------------------------------------
    SCRIPT
------------------------------------------------------------------------------- -->
<script>
function parseDate(d) {
    if (typeof(d) == "string" && d.startsWith('#'))
        d = $(d).val()

    var ntm = (typeof(d) === "number") ? d : d.replace('T', ' ') + " GMT"
    var ret = new Date( ntm ).getTime()
    return ret
}
function getColumnData(matrix, col){
   var column = [];
   for(var i=0; i<matrix.length; i++){
       v = matrix[i][col]
       if (typeof v === 'string')
           if( isNaN(v) )
               return null;
           else
               v = parseFloat(v)
       column.push(v);
   }
   return column;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function showStockChart(ds,  panel="#chartcontainer", trend=0, ){
    var lcolor = (trend > 0) ? 'rgb(0, 255, 0, 0.7)' : 'rgb(255, 0, 0, 0.7)'
    var fcolor = (trend > 0) ? '#5cb85c' : "#dc3545"

    var dsv= ds.values;
    var data=[]
    for (i=0; i < dsv.length; i++) {
        var ttm = parseDate(dsv[i][0])
        data.push([ttm,dsv[i][1] ])
    }
    if ( data[0][0] > data[data.length-1][0])
        data = data.reverse()

    chart = Highcharts.stockChart($(panel)[0], {
        credits: false,
        title:         { text: '' },
        tooltip: {
            valueDecimals: 3
        },
        series: [{
            name: null,
            data: data,
            type: 'area',
            color: lcolor,
            lineWidth: 0.5,
            threshold: null,
            fillColor: { linearGradient: {x1: 0,y1: 0,x2: 0,y2: 0.9 },
                stops: [
                [0, fcolor],
                [1, Highcharts.color(fcolor).setOpacity(0).get('rgba')]
                ]
            },
            events:{
                mouseOut: function (event) {
                    chart.tooltip.hide()
                },
            }
        }]
    });
    return chart
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function showPlot1(ds, panel, ctx, height='160px', onechart=0, clk=null, dclk=null) {

    onechart = ctx.onechart || onechart

    $(panel).html('')
    var dsv = ds.values;
    var data= {};     data.xData = [];
    var lastKnownTime = null
    for(var i=0; i<dsv.length; i++){
        var ttm = parseDate(dsv[i][0])
        if (lastKnownTime == null)
            lastKnownTime = ttm
        else if ( lastKnownTime >= ttm ){
            console.log("** Duplicate !!! ", lastKnownTime, ttm)
            //continue
        }
        data.xData.push(ttm);
    }
    var datasets = []
    for (i=1; i < ds.columns.length; i++) {
        var d = { data: null, name: ds.columns[i], unit: '', type: "line", valueDecimals: 4 }
        d.data = getColumnData(dsv, i);
        if ( !d.data){
            console.log("IGNORING", d.name , "<==")
            continue;
        }
        datasets.push(d)
    }
    data.datasets = datasets
    showSynchedChart(data, height, onechart, panel, clk, dclk)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function getDSData(ds, i=1){
    var dsv= ds.values
    ret = []
    for(u of dsv ) {
        tt = new Date(u[0]).getTime();
        ret.push([tt, u[i]])
    }
    return ret
}
function showPlot2(ds, panel, ctx, height='160px', onechart=0, clk=null, dclk=null) {
    $(panel).html('')

    var dd1    = getDSData(ds,1)
    var sdsv  = { name: ds.columns[1], data: dd1, color: 'green'}
    var hopts = getHighChart("score", sdsv, 1, clk);
    var chart = Highcharts.chart($(panel)[0], hopts);
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function charts(cfg, panel, first_time=0){
    var ccfg   = cfg.chart_opts || {}
    var action = ccfg.action || 'showtable'

    action = action.split("|")[0]
    var card = $(panel).find(".gridcard")


    var ds = null
    if ( cfg.data.length > 0) {
        var ctx  = cfg.data[0]
        var name = (typeof(ctx) == 'string') ? ctx: (ctx.name || ctx.data_src )
        var dscfg = DATA_CACHE[name]
        var ds = dscfg.data
    }
    //console.log("==> ACTION", action)
    switch (action) {
        case 'plot':
            showStockChart(ds, card, cfg)
            break;
        case 'plot1':
            showPlot1(ds, card, cfg)
            break;
        case 'plot2':
            showPlot2(ds, card, cfg)
            break;
        case 'plot3':
            showPlot3(ds, card, cfg, first_time)
            break;
    }
}
</script>
