<div style="text-align: end;>
<span style="padding: 10px;">
    <a onclick="addWidget()" href="#">Add Panel</a>
    | &nbsp;&nbsp; <a onclick="$('#configure').toggle()" href="#">Toggle Configure Panel</a>
    | &nbsp;&nbsp; <a onclick="saveDashboard()" href="#">Save </a>
    | &nbsp;&nbsp; <a onclick="addWidget()" href="#">Refresh </a>
    | &nbsp;&nbsp; <a onclick="addWidget()" href="#">Delete Dahboard</a>
    | &nbsp;&nbsp; <a onclick="addWidget()" href="#">Load </a>
    | &nbsp;&nbsp; <a href="/dash/dash/about.html/" href="#">About </a>
</span>
</div>

